//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 24 23:34:42 2024
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "hsync" LOCATE = SITE "B12" LEVEL 1;
COMP "reset" LOCATE = SITE "M16" LEVEL 1;
COMP "vsync" LOCATE = SITE "A12" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "K18" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "M18" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "B11" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "C10" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "A9" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "B9" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "C9" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

